<h3>Form with nested validatate-component</h3>
<div class="row">
  <div class="col-xs-6">
    {{#form-validation validation-context=model action=(action "saveUser") as |formView|}}
      {{#if modelWasSaved}}
        <div class="alert alert-success">
          <span class="glyphicon glyphicon-ok-sign"></span>
          The model is saved
        </div>
      {{/if}}

      <div class="form-group {{if (and formView.errors.name formView.visibleErrors.name) 'has-error'}}" id="name">
        <label class="control-label">Name</label>
        {{input value=model.name class="form-control" validate-path="name"}}
        {{ember-validation-error-list errors=formView.errors.name show=formView.visibleErrors.name}}
      </div>
      <div class="form-group {{if (and formView.errors.email formView.visibleErrors.email) 'has-error'}}" id="email">
        <label class="control-label">Email</label>
        {{input value=model.email class="form-control" validate-path="email"}}
        {{ember-validation-error-list errors=formView.errors.email show=formView.visibleErrors.email}}
      </div>
      <div class="panel panel-default" id="address">
        <div class="panel-heading">
          <h3 class="panel-title">Address</h3>
          Nested validation component
          {{#if (and formView.errors.address formView.visibleErrors.address)}}
            <div class="pull-right">
              <span class="pull-left">Error outside component:</span>
              {{ember-validation-error-list errors=formView.errors.address show=formView.visibleErrors.address class="pull-left"}}
              <div class="clearfix"></div>
            </div>

          {{/if}}
        </div>
        <div class="panel-body {{if (and formView.errors.address formView.visibleErrors.address) 'has-error'}}">
        {{#user-address validation-context=model.address errors-name="address" error-message="Valid address required"}}{{/user-address}}
        </div>
      </div>

      <div class="panel panel-default" id="credentials">
        <div class="panel-heading">
          <h3 class="panel-title">Credentials</h3>
          Nested validation component
          {{#if (and formView.errors.credentials formView.visibleErrors.credentials)}}
            <div>
              <span class="pull-left">Error outside nested component:</span>
              {{ember-validation-error-list errors=formView.errors.credentials show=formView.visibleErrors.credentials class="pull-left"}}
              <div class="clearfix"></div>
            </div>

          {{/if}}
        </div>
        <div class="panel-body {{if (and formView.errors.credentials formView.visibleErrors.credentials) 'has-error'}}">
        {{#component-validation validation-context=model.credentials errors-name="credentials" error-message="Login and password required" as |formView errors visibleErrors|}}
          <div class="form-group {{if (and errors.login visibleErrors.login) 'has-error'}}" id="login">
            <label class="control-label">Login</label>
            {{input value=model.credentials.login class="form-control" validate-path="login"}}
            {{ember-validation-error-list errors=errors.login show=visibleErrors.login}}
          </div>
          <div class="form-group {{if (and errors.password visibleErrors.password) 'has-error'}}" id="password">
            <label class="control-label">Password</label>
            {{input value=model.credentials.password class="form-control" validate-path="password"}}
            {{ember-validation-error-list errors=errors.password show=visibleErrors.password}}
          </div>
        {{/component-validation}}
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    {{/form-validation}}
  </div>
</div>
