<h3>Form-validation component</h3>
<div class="row">
  <div class="col-xs-6">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
      <button type="button" class="btn btn-success" {{action "setUser" "new"}}>New user</button>
      <button type="button" class="btn btn-info" {{action "setUser" "edit"}}>Edit user</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    {{#user-form action="saveUser" validation-context=model as |formView|}}
      isValid: {{formView.isValid}}<br>
      errors.length: {{formView.errors.length}}<br>{{formView.validation-context}}
      {{formView.errors.dummy}}
      <div class="form-group {{if (and formView.errors.first_name formView.visibleErrors.first_name) 'has-error'}}">
        <label class="control-label">First name</label>
        {{input value=model.first_name class="form-control" validate-path="first_name"}}
        {{errors-list errors=formView.errors.first_name show=formView.visibleErrors.first_name}}
      </div>

      <div class="form-group {{if (and formView.errors.last_name formView.visibleErrors.last_name) 'has-error'}}">
        <label class="control-label">Last name</label>
        {{input value=model.last_name class="form-control" validate-path="last_name"}}
        {{errors-list errors=formView.errors.last_name show=formView.visibleErrors.last_name}}
      </div>

      <div class="form-group {{if (and formView.errors.promo_code formView.visibleErrors.promo_code) 'has-error'}}">
        <label class="control-label">Promo code</label>
        {{input value=formView.promo_code name="promo_code" class="form-control"}}
        {{errors-list errors=formView.errors.promo_code show=formView.visibleErrors.promo_code}}
      </div>

      <div class="form-group">
        <div class="panel panel-default">
          <div class="panel-heading" {{action "toggleEmailAndPhone"}}>Email and phone</div>
          {{#if emailAndPhoneOpened}}
            <div class="panel-body">

              <div class="form-group {{if (and formView.errors.phone formView.visibleErrors.phone) 'has-error'}}">
                <label class="control-label">Phone</label>
                {{input value=model.phone class="form-control" validate-path="phone"}}
                {{errors-list errors=formView.errors.phone show=formView.visibleErrors.phone}}
              </div>

              <div class="form-group {{if (and formView.errors.email formView.visibleErrors.email) 'has-error'}}">
                <label class="control-label">Email</label>
                {{input value=model.email class="form-control" validate-path="email"}}
                {{errors-list errors=formView.errors.email show=formView.visibleErrors.email}}
              </div>

            </div>
          {{/if}}

        </div>

      </div>


      <div class="form-group {{if (and formView.errors.age_and_gender formView.visibleErrors.age_and_gender) 'has-error'}}">
        <label class="control-label">Nested component</label>
        <div>
          {{user-age-gender age=model.age gender=model.gender validation-context=model   errors-name="age_and_gender"}}
          error outside {{errors-list errors=formView.errors.age_and_gender show=formView.visibleErrors.age_and_gender}}
        </div>
      </div>

      <div class="form-group">
        <button>Submit</button>
      </div>

    {{/user-form}}
  </div>
</div>
