<h3>Simple form with optional fields</h3>
<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-success" {{action "setUser" "new"}}>New user</button>
        <button type="button" class="btn btn-info" id="set-user" {{action "setUser" "edit"}}>Edit user</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    {{#simple-form action=(action "saveUser") validation-context=model as |formView|}}
      <div class="form-group">
        {{#if formView.submitError}}
            Submit failed with error "{{formView.submitError}}"
          {{else if formView.isSubmitted}}
            <div class="alert alert-success">
              <span class="glyphicon glyphicon-ok-sign"></span>
              The model is saved
            </div>
          {{else if formView.isSubmitting}}
            Submit data...
          {{else if formView.isValidating}}
            Validate form...
          {{/if}}

      </div>

      <div class="form-group {{if (and formView.errors.first_name formView.visibleErrors.first_name) 'has-error'}}" id="first_name">
        <label class="control-label">First name</label>
        {{input value=model.first_name class="form-control" validate-path="first_name"}}
        {{ember-validation-error-list errors=formView.errors.first_name show=formView.visibleErrors.first_name}}
      </div>

      <div class="form-group {{if (and formView.errors.last_name formView.visibleErrors.last_name) 'has-error'}}" id="last_name">
        <label class="control-label">Last name</label>
        {{input value=model.last_name class="form-control" validate-path="last_name"}}
        {{ember-validation-error-list errors=formView.errors.last_name show=formView.visibleErrors.last_name}}
      </div>

      <div class="form-group {{if (and formView.errors.phone formView.visibleErrors.phone) 'has-error'}}" id="phone">
        <label class="control-label">Phone</label>
        {{input value=model.phone class="form-control" validate-path="phone"}}
        {{ember-validation-error-list errors=formView.errors.phone show=formView.visibleErrors.phone}}
      </div>

      <div class="form-group {{if (and formView.errors.email formView.visibleErrors.email) 'has-error'}}" id="email">
        <label class="control-label">Email</label>
        {{input value=model.email class="form-control" validate-path="email"}}
        {{ember-validation-error-list errors=formView.errors.email show=formView.visibleErrors.email}}
      </div>

      <div class="form-group">
        <div class="panel panel-default">
          <div class="panel-heading" {{action "toggleAccordion" target=formView}} id="panel-head">
            <span class="caret"></span> Address <span class="text-muted">optional</span>
          </div>
          {{#if formView.isAccordionOpened}}
            <div class="panel-body">

              <div class="form-group {{if (and formView.errors.city formView.visibleErrors.city) 'has-error'}}" id="city">
                <label class="control-label">City</label>
                {{input value=model.city class="form-control" validate-path="city"}}
                {{ember-validation-error-list errors=formView.errors.city show=formView.visibleErrors.city}}
              </div>

              <div class="form-group {{if (and formView.errors.street formView.visibleErrors.street) 'has-error'}}" id="street">
                <label class="control-label">Street</label>
                {{input value=model.street class="form-control" validate-path="street"}}
                {{ember-validation-error-list errors=formView.errors.street show=formView.visibleErrors.street}}
              </div>

              <div class="form-group {{if (and formView.errors.house formView.visibleErrors.house) 'has-error'}}" id="house">
                <label class="control-label">House number</label>
                {{input value=model.house class="form-control" validate-path="house"}}
                {{ember-validation-error-list errors=formView.errors.house show=formView.visibleErrors.house}}
              </div>
            </div>
          {{/if}}

        </div>

      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    {{/simple-form}}
  </div>
</div>
