<h3>Простая валидация</h3>

<div class="row">
  <div class="col">
    <legend>Валидация объекта целиком</legend>
    <form {{action 'validateCompany' on='submit'}}>

      {{#if company.isValid}}
        <div class="alert alert-success">
          <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
          Все поля объекта валидные
        </div>
      {{else}}
        <div class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          Какие-то поля объекта не вилидные
        </div>
      {{/if}}

      <div class="form-group {{if company.errors.name 'has-error'}}">
        <label class="control-label">Нименование</label>
        {{input value=company.name class="form-control"}}
        {{ember-validation-error-list errors=company.errors.name}}
      </div>

      <div class="form-group {{if company.errors.email 'has-error'}}">
        <label class="control-label">Эл. почта</label>
        {{input value=company.email class="form-control"}}
        {{ember-validation-error-list errors=company.errors.email}}
      </div>

      <div class="form-group {{if company.errors.age 'has-error'}}">
        <label class="control-label">Возраст</label>
        {{input value=company.age class="form-control"}}
        {{ember-validation-error-list errors=company.errors.age}}
      </div>

      <button type="submit" class="btn btn-primary">Validate</button>
    </form>
  </div>

  <div class="col">
    <legend>Валидация по полям</legend>
    <form {{action 'validate' on='submit'}}>

      {{#if user.isValid}}
        <div class="alert alert-success">
          <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
          Все поля объекта валидные
        </div>
      {{else}}
        <div class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          Какие-то поля объекта не вилидные
        </div>
      {{/if}}

      <div class="form-group {{if user.errors.first_name 'has-error'}}">
        <label class="control-label">First name</label>
        {{input value=user.first_name class="form-control"}}
        {{ember-validation-error-list errors=user.errors.first_name}}
        <a href="javascript: void 0;" class="pseudo" {{action 'validateField' 'first_name'}}>Validate field</a>
      </div>

      <div class="form-group {{if user.errors.last_name 'has-error'}}">
        <label class="control-label">Last name</label>
        {{input value=user.last_name class="form-control"}}
        {{ember-validation-error-list errors=user.errors.last_name}}
        <a href="javascript: void 0;" class="pseudo" {{action 'validateField' 'last_name'}}>Validate field</a>
      </div>
      <div class="form-group {{if user.errors.full_name 'has-error'}}">
        <label class="control-label">Full name</label>
        {{input value=user.full_name class="form-control" disabled=true}}
        {{ember-validation-error-list errors=user.errors.full_name}}
        <a href="javascript: void 0;" class="pseudo" {{action 'validateField' 'full_name'}}>Validate field</a>
      </div>
      <div class="form-group {{if user.errors.phone 'has-error'}}">
        <label class="control-label">Phone</label>
        {{input value=user.phone class="form-control"}}
        {{ember-validation-error-list errors=user.errors.phone}}
        <a href="javascript: void 0;" class="pseudo" {{action 'validateField' 'phone'}}>Validate field</a>
      </div>
      <div class="form-group {{if user.errors.email 'has-error'}}">
        <label class="control-label">Email</label>
        {{input value=user.email class="form-control"}}
        {{ember-validation-error-list errors=user.errors.email}}
        <a href="javascript: void 0;" class="pseudo" {{action 'validateField' 'email'}}>Validate field</a>
      </div>

      <div class="form-group {{if user.errors.gender 'has-error'}}">
        <label class="control-label">Gender</label>
        <select class="form-control" onchange={{action "setGender" value="target.value"}}>
          <option value=""></option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        {{ember-validation-error-list errors=user.errors.gender}}
        <a href="javascript: void 0;" class="pseudo" {{action 'validateField' 'gender'}}>Validate field</a>
      </div>

      <button type="submit" class="btn btn-primary">Validate</button>
      <button type="button" class="btn btn-primary" {{action 'check'}}>Check</button>
    </form>
  </div>
</div>
