<h3>Simple model</h3>
<formset>
  <legend>On demand</legend>
  <form {{action 'simpleValidate' on='submit'}}>
    {{#if user.isValid}}
      <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        The model is valid
      </div>
    {{else}}
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Some fields of the model invalid
      </div>
    {{/if}}

    <div class="form-group {{if user.errors.first_name 'has-error'}}">
      <label class="control-label">First name</label>
      {{input value=user.first_name class="form-control"}}
      {{error-list errors=user.errors.first_name}}
    </div>

    <div class="form-group {{if user.errors.last_name 'has-error'}}">
      <label class="control-label">Last name</label>
      {{input value=user.last_name class="form-control"}}
      {{error-list errors=user.errors.last_name}}
    </div>
    <div class="form-group {{if user.errors.full_name 'has-error'}}">
      <label class="control-label">Last name</label>
      {{input value=user.full_name class="form-control" disabled=true}}
      {{error-list errors=user.errors.full_name}}
    </div>

    <div class="form-group {{if user.errors.gender 'has-error'}}">
      <label class="control-label">Gender</label>
      <select class="form-control" onchange={{action "setGender" value="target.value"}}>
        <option value=""></option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      {{error-list errors=user.errors.gender}}
    </div>

    <button type="submit" class="btn btn-default">Validate</button>
  </form>
</formset>
