<div class="form-group {{if (and errors.city visibleErrors.city) 'has-error'}}">
  <label class="control-label">City</label>
  {{input value=model.city class="form-control" validate-path="city"}}
  {{errors-list errors=errors.city show=visibleErrors.city}}
</div>
errors aaaaa{{validation-context}}
<div class="form-group {{if (and formView.errors.street formView.visibleErrors.street) 'has-error'}}">
  <label class="control-label">Street</label>
  {{input value=model.street class="form-control" validate-path="street"}}
  {{errors-list errors=formView.errors.street show=formView.visibleErrors.street}}
</div>

<div class="form-group {{if (and formView.errors.house formView.visibleErrors.house) 'has-error'}}">
  <label class="control-label">House number</label>
  {{input value=model.house class="form-control" validate-path="house"}}
  {{errors-list errors=formView.errors.house show=formView.visibleErrors.house}}
</div>
